:global(.page).landing {
  max-width: 100%;
  padding: var(--space-0);
  overflow-x: clip;
}

.landing :where(h1, h2, h3, p, ul, ol, figure) {
  margin: var(--space-0);
}

.landing :where(ul, ol) {
  padding: var(--space-0);
  list-style: none;
}
