.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 var(--space-1-5);
}

.title {
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--tracking-close);
  color: var(--color-text);
}

.tabs {
  margin-bottom: var(--space-4);
}

.grid {
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 24.9375rem) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.img {
  display: block;
  border-radius: 50%;
  width: var(--space-12);
  height: var(--space-12);
}

.check {
  position: absolute;
  bottom: var(--space-0-5);
  right: var(--space-0-5);
  background: var(--color-primary);
  color: var(--color-primary-contrast);
  border-radius: 50%;
  padding: var(--space-0-5);
}
